@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="margin-bottom: 10px">
@if (!string.IsNullOrEmpty(Request.Cookies["UserId"]) && Request.Cookies["UserId"]  != "0")
{
    <div class="text-center">
        <h1 class="display-7">Hi <a href="/Settings">@Request.Cookies["Username"]</a>!</h1>
    </div>

    <form method="post">
        <div class="form-group">
            <label>Message:</label>
            <textarea class="form-control" asp-for="MessageModel.Content" rows="3" maxlength="500"></textarea>
        </div>
        <label style="color: darkgrey;">Maximum 500 characters.</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{   
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}

<div class="grid">
    @foreach (var message in Model.Messages)
    {
        <div class="card grid-item float-start" style="width: 18rem; margin-right: 1rem; margin-top: 1rem;">
            <div class="card-body">
                <h5 class="card-title"><a asp-page="/AccountPage" asp-route-id="@message.UserId">@message.Username</a></h5>
                <p class="card-text">@message.Content</p>
                <p class="card-text text-muted">@message.CreatedOn.ToString("ddd, dd MMM yyyy H:mm:ss")</p>
            </div>
        </div>
    }
</div>
</body>